*{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  background: #FAF8ED;
  font-family: "微软雅黑 Light";
}
.top{
  width:80%;
  min-width: 1000px;
  margin:40px auto 0;
  font-family: "Cambria Math";
  background-image: url("../../img/bg-main-2.jpg");
  background-size:cover !important;
  height:340px;
  border:2px solid black;
  border-radius: 8px;
  position:relative;
  top: 0;
  left: 0;
  b{
    position: absolute;
    top:40px;
    right:20px;
    color:lightskyblue;
    font-size: 18px;
  }
  .text{
    border:2px solid black;
    border-radius: 8px;
    font-size: 38px;
    font-weight: 600;
    padding:10px 40px;
    position: absolute;
    top:160px;
    left:430px;
    &:hover{
      background: white;
      opacity: 0.4;
      color: red;
      border: none;
      font-size: 46px;
    }
  }
  .text_02{
    padding:2px 4px;
    transform:rotate(7deg);
    position: absolute;
    top:60px;
    left:20px;
    display: none;
  }
  .text_03{
    padding:2px 4px;
    transform:rotate(-14deg);
    position: absolute;
    top:100px;
    left:740px;
    display: none;
  }
}
nav{
  border-radius: 8px;
  background: lightskyblue;
  position: fixed;
  top: 40%;
  left: 10px;
  li{
    padding: 4px 20px;
    cursor: pointer;
    &:hover{
      color: white;
      font-size: 20px;
    }
  }
}
.self{
  width: 80%;
  min-width: 1000px;
  padding: 20px 0 20px 20px;
  margin:20px auto;
  background: #F8F4E8;
  border-radius: 14px;
  p{
    line-height: 30px;
  }
}
.middle_01{
  width: 80%;
  min-width: 1000px;
  margin:20px auto;
  background: gainsboro;
  border-radius: 14px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  >div{
    padding: 10px 20px;
    display: flex;
    margin: 0 20px 0 0;
    &:nth-of-type(1){
      .small{
        width: 280px;
      }
    }
    &:nth-of-type(2){
      .small{
        width: 200px;
      }
    }
    &:nth-of-type(3){
       .small{
         width: 280px;
       }
     }
    &:nth-of-type(4){
      p{
        margin-right: 28px;
      }
      .small{
        width: 240px;
      }
    }
    &:nth-of-type(5){
      p{
        margin-right: 38px;
      }
      .small{
        width: 270px;
      }
    }
    &:nth-of-type(6){
      .small{
        width: 220px;
      }
    }
    &:nth-of-type(7){
      p{
        margin-right: 28px;
      }
      .small{
        width: 252px;
      }
    }
  }
  p{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }
  .big{
    width: 300px;
    height: 20px;
    background: white;
    border-radius: 8px;
    margin-top: 4px;
    cursor: pointer;
    &:hover .small{
      background: #5eb95e;
      opacity: .8;
    }
  }
  .small{
    height: 20px;
    background: lightskyblue;
    border-radius: 8px;
  }
}
.middle_02{
  width: 80%;
  min-width: 1000px;
  margin:20px auto ;
}
.middle_03{
  width: 80%;
  min-width: 1000px;
  margin:20px auto ;
}