* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background: #FAF8ED;
  font-family: "微软雅黑 Light";
}
.top {
  width: 80%;
  min-width: 1000px;
  margin: 40px auto 0;
  font-family: "Cambria Math";
  background-image: url("../../img/bg-main-2.jpg");
  background-size: cover !important;
  height: 340px;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
  top: 0;
  left: 0;
}
.top b {
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  color: lightskyblue;
  font-size: 18px;
}
.top b:hover {
  text-shadow: 4px 4px 4px black;
  cursor: pointer;
}
.top .text {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 38px;
  font-weight: 600;
  padding: 10px 40px;
  position: absolute;
  top: 160px;
  left: 430px;
}
.top .text:hover {
  background: white;
  color: red;
  border: none;
  font-size: 46px;
}
.top .text_02 {
  padding: 2px 4px;
  -webkit-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
          transform: rotate(7deg);
  position: absolute;
  top: 60px;
  left: 20px;
  display: none;
}
.top .text_03 {
  padding: 2px 4px;
  -webkit-transform: rotate(-14deg);
      -ms-transform: rotate(-14deg);
          transform: rotate(-14deg);
  position: absolute;
  top: 100px;
  left: 740px;
  display: none;
}
nav {
  border-radius: 8px;
  background: lightskyblue;
  position: fixed;
  top: 40%;
  left: 10px;
  padding: 4px 0;
}
nav li {
  padding: 4px 20px;
  cursor: pointer;
}
nav li:hover {
  color: white;
  font-size: 20px;
}
.github_icon {
  display: block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 24%;
  left: 14px;
}
.github_icon img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .4;
}
.github_icon:hover {
  width: 100px;
  height: 100px;
}
.github_icon:hover img {
  opacity: 1;
}
.self {
  width: 80%;
  min-width: 1000px;
  padding: 20px 0 20px 20px;
  margin: 20px auto;
  background: #F8F4E8;
  border-radius: 14px;
}
.self p {
  line-height: 30px;
}
.middle_01 {
  width: 80%;
  min-width: 1000px;
  margin: 20px auto;
  background: #F6E6F0;
  border-radius: 14px;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.middle_01 > div {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}
.middle_01 > div:nth-of-type(1) .small {
  width: 280px;
}
.middle_01 > div:nth-of-type(2) .small {
  width: 200px;
}
.middle_01 > div:nth-of-type(3) .small {
  width: 280px;
}
.middle_01 > div:nth-of-type(4) p {
  margin-right: 28px;
}
.middle_01 > div:nth-of-type(4) .small {
  width: 240px;
}
.middle_01 > div:nth-of-type(5) p {
  margin-right: 38px;
}
.middle_01 > div:nth-of-type(5) .small {
  width: 270px;
}
.middle_01 > div:nth-of-type(6) .small {
  width: 220px;
}
.middle_01 > div:nth-of-type(7) p {
  margin-right: 28px;
}
.middle_01 > div:nth-of-type(7) .small {
  width: 252px;
}
.middle_01 p {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.middle_01 .big {
  width: 300px;
  height: 20px;
  background: white;
  border-radius: 8px;
  margin-top: 4px;
  cursor: pointer;
}
.middle_01 .big:hover .small {
  background: #5eb95e;
  opacity: .8;
}
.middle_01 .small {
  height: 20px;
  background: lightskyblue;
  border-radius: 8px;
}
.middle_02 {
  width: 80%;
  height: 800px;
  min-width: 1000px;
  margin: 20px auto ;
  border-radius: 14px;
  background: #DDFFFF;
}
@-webkit-keyframes dogPlay {
  from {
    width: 90px;
    height: 90px;
    background: #DDFFFF;
    border-radius: 50%;
  }
  to {
    width: 130px;
    height: 130px;
    background: lightskyblue;
    border-radius: 50%;
  }
}
@keyframes dogPlay {
  from {
    width: 90px;
    height: 90px;
    background: #DDFFFF;
    border-radius: 50%;
  }
  to {
    width: 130px;
    height: 130px;
    background: lightskyblue;
    border-radius: 50%;
  }
}
@-webkit-keyframes play {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
@keyframes play {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
.middle_03 {
  width: 80%;
  min-width: 1000px;
  margin: 20px auto ;
  border-radius: 14px;
  background: white;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
}
.middle_03 .bottom-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #DDFFFF;
  position: absolute;
  bottom: -40px;
  right: 30px;
}
.middle_03 .bottom-icon img {
  display: block;
  width: 80%;
  height: 80%;
  margin: 10px auto;
}
.middle_03 .bottom-icon:hover {
  -webkit-animation: play 1s;
          animation: play 1s;
}
.middle_03 .bottom-icon:hover img {
  -webkit-animation: dogPlay 1s;
          animation: dogPlay 1s;
}
footer {
  width: 100%;
  height: 90px;
  min-width: 1000px;
  background: #DEEBFE;
  margin-top: 80px;
  position: relative;
  top: 0;
  left: 0;
}
footer p {
  width: 280px;
  position: absolute;
  top: 26px;
  left: 30%;
  font-size: 18px;
}
footer a {
  display: block;
}
footer a img {
  display: block;
  border: none;
  width: 120px;
  height: 30px;
  position: absolute;
  top: 22px;
  right: 34%;
}
footer a img:hover {
  opacity: 0.6;
}
