<!DOCTYPE html>
<!--<html xmlns:wb="http://open.weibo.com/wb">-->
<html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="author" content="Fong Ray" />
  <meta name="renderer" content="webkit">
  <meta name="description" content="minTan's Blog" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="Shortcut Icon" href="../img/title-icon.png" type="image/x-icon">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
  <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script type="text/javascript"  src="../src/core/jquery-3.1.0.min.js"></script>
  <style>{% include style.css %}</style>
  <!--<link href="../_includes/style.css" rel="stylesheet"/>-->
</head>
<body>
  <div class="home-menu">
    <div class="home-icon-con">
      <a class="home-menu-icon" href="/">minTan</a>
      <a class="home-follow" href="#" title="Contact Me">+</a>
    </div>
    <div class="home-contact">
      <a href="http://weibo.com/u/2706285455/" target="_blank"><img src="http://o86qmsuit.bkt.clouddn.com/image/weibo.ico" alt="" width="25" /></a>
      <a href="../resume/resume.html" target="_blank"><img src="../img/self.png" alt="" width="25" /></a>
      <a href="https://github.com/tantan0813" target="_blank"><img src="http://o86qmsuit.bkt.clouddn.com/image/github_logo.png" alt="" width="25" /></a>
    </div>
  </div>
  {{ content }}
  <script src="../js/es/inspect_visitor_network_type.js" type="text/javascript"></script>
  <script src="../js/es/paging.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      //收放菜单
      $('.home-follow').click(function(e) {
        e.preventDefault();
        if ($('.home-contact').is(':visible')) {
          $(this).text("+");
          $('.home-contact').slideUp(200);
        } else {
          $(this).text("-");
          $('.home-contact').slideDown(200);
        }
      });
      //bg-music-play
        bg_music_play();
        function bg_music_play(){
            var music = document.getElementById("bgMusic");
            $("#audioBtn").click(function(){
                if(music.paused){music.play();
                    $("#audioBtn").removeClass("pause").addClass("play");
                }else{music.pause();
                    $("#audioBtn").removeClass("play").addClass("pause");}});
            isMusicLoad();
            function  isMusicLoad(){
                $("html").judge_net_type();
            }
        }

        page($(".artical-list>li"),5,$(".artical-list"),"page_active");
        function page(content,page_len,place,active){//参数依次为分页内容体、每页的内容数量，页码的添加位置，页码活跃时的样式
            console.log(113);
            var list = content;
            console.log(content);
            list.slice(0,page_len).css("display", "block");
            list.slice(page_len).css("display", "none");
            var pages=Math.ceil(list.length/page_len);
            var s="<ul class='page_index'><li class='pre' title='当前前五页'>pre</li>";
            for(var i=1;i<=pages;i++){
                s+="<li class='page_num'>"+i+"</li>";
            }
            s+="<li class='next' title='当前后五页'>next</li></ul>";
            place.after(s);
            $(".page_num").on("click",function(){
                var num = $(this).text()*page_len;
                $(this).addClass(active).siblings().removeClass(active);
                var show_ing=list.slice(num-page_len,num);
                var show_no_next=list.slice(num);
                var show_no_pre=list.slice(0,num-page_len);
                show_ing.css("display", "block");
                show_no_pre.css("display", "none");
                show_no_next.css("display", "none");
            });
        }
    })
  </script>

</body>

</html>
