---
layout: default
---

{{ content }}

<script type="text/javascript">
  $(function() {
    function animateBar($item, noAni) {
      var spanLeft = $item.find('span').offset().left;
      var conLeft = $item.parent().offset().left;
      var left = spanLeft - conLeft;
      var width = $item.find('span').width() + 8;

      if (noAni) {
        $('#cateBar').css({
          left: left,
          width: width
        })
      } else {
        $('#cateBar').stop().animate({
          left: left,
          width: width
        }, 300)
      }
    }

    var waitForFinalEvent = (function() {
      var timers = {};
      return function(callback, ms, uniqueId) {
        if (!uniqueId) {
          uniqueId = "Don't call this twice without a uniqueId";
        }
        if (timers[uniqueId]) {
          clearTimeout(timers[uniqueId]);
        }
        timers[uniqueId] = setTimeout(callback, ms);
      };
    })();

    $('.artical-cate li').mouseenter(function() {
      animateBar($(this));
    }).mouseleave(function() {
      animateBar($('.artical-cate .on'));
    });

    $(window).resize(function(e) {
      waitForFinalEvent(function() {
        animateBar($('.artical-cate .on'));
      })
    })
    animateBar($('.artical-cate .on'), true);

      page($("#artical-list>li"),2,$("#artical-list"),"page_active");
      function page(content,page_len,place,active){//参数依次为分页内容体、每页的内容数量，页码的添加位置，页码活跃时的样式
          var list = content;
          var pages=Math.ceil(list.length/page_len);
          var s="<ul class='page_index'><li class='pre' title='当前前五页'>pre</li>";
          for(var i=1;i<=pages;i++){
              s+="<li class='page_num'>"+i+"</li>";
          }
          s+="<li class='next' title='当前后五页'>next</li></ul>";
          place.after(s);
          $(".page_num").on("click",function(){
              var num = $(this).text()*page_len;
              $(this).addClass(active).siblings().removeClass(active);
              var show_ing=list.slice(num-page_len,num);
              var show_no_next=list.slice(num);
              var show_no_pre=list.slice(0,num-page_len);
              show_ing.css("display", "block");
              show_no_pre.css("display", "none");
              show_no_next.css("display", "none");
          });
      }
  });
</script>
